body {
    background-color: lightgrey;
    color: white;   
}

header {
    background-image: url("./Images/MSDOS.jpg");
    height: 300px;
}

section {
    font-size: 50px;
    text-align: center;
    color: black;
}

footer {
    color: black;
    display: flex;
}

p {
    margin: 5px;
}